{% for interface in l3_interfaces %}
interface {{ interface.l3_port_name }}
  {% if inventory_hostname != 'bg-router' %}
  no switchport
  ip address {{ interface.l3_port_ip }}
  {% else %}
  ip address {{ interface.l3_port_ip }} {{ interface.l3_port_mask }}
  {% endif %}
  no shutdown
{% endfor %}