router bgp {{ bgp_asn }}
  bgp router-id {{ bgp_router_id }}
  {% for neighbor in configure_bgp %}
  neighbor {{ neighbor.bgp_neighbor }} remote-as {{ neighbor.bgp_neighbor_asn }}
  address-family ipv4
    neighbor {{ neighbor.bgp_neighbor }} activate
  {% endfor %}