{% for port in portchannels %}
interface port-channel{{ port.portchannel_id }}
  switchport mode trunk
  switchport trunk allowed vlan {{ port.portchannel_allowed_vlans }}
  no shutdown
interface {{ port.portchannel_member_port }}
  channel-group {{ port.portchannel_id }} force mode active
  no shutdown
{% endfor %}