feature bgp
router bgp {{ bgp_asn }}
  router-id {{ bgp_router_id }}
  address-family ipv4 unicast
    maximum-paths 2
  {% for neighbor in configure_nxos_bgp %}
  neighbor {{ neighbor.bgp_neighbor }}
    remote-as {{ neighbor.bgp_neighbor_asn }}
    update-source Loopback0
    ebgp-multihop 255
  {% endfor %}
  {% for neighbor in configure_ios_bgp %}
  neighbor {{ neighbor.bgp_neighbor }}
    remote-as {{ neighbor.bgp_neighbor_asn }}
  {% endfor %} 