{% for vpc_peer in vpc_peerlink %}
interface port-channel{{ vpc_peer.peerlink_portchannel_id }}
  switchport mode trunk
  switchport trunk allowed vlan {{ vpc_peer.peerlink_trunk_allowed_vlans }}
  vpc peer-link
  no shutdown
interface {{ vpc_peer.peerlink_member_port }}
  channel-group {{ vpc_peer.peerlink_portchannel_id }} force mode active
  no shutdown
{% endfor %}