{% for bgp in bgp_config %}
router bgp {{ bgp_asn }}
  neighbor {{ bgp.remote_ip }}
    remote-as {{ bgp.remote_bgp_asn }}
    update-source {{ bgp.source_ip }}
    ebgp-multihop 2
    address-family ipv4 unicast
      soft-reconfiguration inbound always
  address-family ipv4 unicast
    maximum-paths 2
{% endfor %}