{% for hsrp in hsrp %}
interface {{ hsrp.interface }}
  no shutdown
  ip address {{ hsrp.ip_address }}
  hsrp {{ hsrp.hsrp_id }}
    ip {{ hsrp.vip }}
    priority {{ hsrp.hsrp_priority }}
    {% if inventory_hostname in ['leaf01', 'leaf03']%}
    preempt
    {% endif %}
{% endfor %}