{% for hsrp in hsrp_config %}
interface vlan{{ hsrp.hsrp_vlan_id }}
  hsrp {{ hsrp.hsrp_id }}
    priority {{ hsrp.hsrp_priority }}
    ip {{ hsrp.hsrp_ip }}
    {% if inventory_hostname in ['leaf01', 'leaf03'] %}
    preempt
    {% endif %}
    no shutdown
{% endfor %}