{% if inventory_hostname == 'spine01' %}
{% for port in spine01_layer3_interfaces%}
interface {{ port.port_name }}
  no switchport
  ip address {{ port.ip_address }}
{% endfor %}
{% endif %}

{% if inventory_hostname == 'spine02' %}
{% for port in spine02_layer3_interfaces%}
interface {{ port.port_name }}
  no switchport
  ip address {{ port.ip_address }}
{% endfor %}
{% endif %}

{% if inventory_hostname == 'leaf01' %}
{% for port in leaf01_layer3_interfaces%}
interface {{ port.port_name }}
  no switchport
  ip address {{ port.ip_address }}
{% endfor %}
{% endif %}

{% if inventory_hostname == 'leaf02' %}
{% for port in leaf02_layer3_interfaces%}
interface {{ port.port_name }}
  no switchport
  ip address {{ port.ip_address }}
{% endfor %}
{% endif %}

{% if inventory_hostname == 'leaf03' %}
{% for port in leaf03_layer3_interfaces%}
interface {{ port.port_name }}
  no switchport
  ip address {{ port.ip_address }}
{% endfor %}
{% endif %}

{% if inventory_hostname == 'leaf04' %}
{% for port in leaf04_layer3_interfaces%}
interface {{ port.port_name }}
  no switchport
  ip address {{ port.ip_address }}
{% endfor %}
{% endif %}