{% if inventory_hostname in ['access01', 'access02'] %}
{% for port in interfaces_access %}
interface {{ port.port_name }}
  no shutdown
{% endfor%}
{% elif inventory_hostname in ['spine01', 'spine02'] %}
{% for port in interfaces_spine %}
interface {{ port.port_name }}
  no shutdown
{% endfor%}
{% else %}
{% for port in interfaces_leaf %}
interface {{ port.port_name }}
  no shutdown
{% endfor %}
{% endif %}